{%extends 'Home/base.html'%}

{%load static%}

{%block head%}
    <title>Author/title>
{%endblock%}

             
{%block content%}
                <!-- bagian isi -->
                <div class="contentAuthor">
                    <img class="contentAuthor" src="{% static 'img/profile-pic2.jpg' %}">
                    <div class="titleAuthor">
                        <h4>Nama Author</h4>
                        <p><span style="font-weight: bold">Anbar Firdaus.</span>
                        Anbar Firdaus. I am from Tangerang. Born on June 1996. Read the list below
                        </p>
                    </div>
                    <table class="tableAuthor" style="width:1000px">
                        <tr>
                            <td>Alamat </td>
                            <td>: Mandalawangi </td>
                        </tr>
                        <tr>
                            <td>Telephone </td>
                            <td>: 085717660766</td>
                        </tr>
                        <tr>
                            <td>Education </td>
                            <td>: Bachelor of Industrial engineering</td>    
                        </tr>
                        <tr>
                            <td>Profession </td>
                            <td>: Student</td>
                        </tr>
                        <tr>
                            <td>Nationality </td>
                            <td>: Indonesian</td>
                        </tr>
                        <tr>
                            <td>Company </td>
                            <td>: Alphatech Academy</td>
                        </tr>
                        <tr>
                            <td>Email </td>
                            <td>: anbar@alphatech.id</td>
                        </tr>
                        <tr>
                            <td>Adress </td>
                            <td>: Mandalawangi</td>
                        </tr>
                    </table>
                    <div class="mapouter text-center" ><div class="gmap_canvas"><iframe width="600" height="400" id="gmap_canvas" 
                        src="https://maps.google.com/maps?q=sepulsa%20lodge%20malang&t=&z=13&ie=UTF8&iwloc=&output=embed" 
                        frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                        <a href="https://www.embedgooglemap.net">embedgooglemap.net</a></div>
                        <style>.mapouter{text-align:right;height:500px;width:600px;}.gmap_canvas 
                        {overflow:hidden;background:none!important;height:500px;width:600px;}
                        </style>
                        </div>
                    
                
                    
              
                </div>
            </div>
            <!-- END OF PIC  -->
{%endblock%}